body{
    background-color: silver;
    margin: 0;
    padding: 0;
}

#container_adatvedelem {
    background-color: white;
    width: 80%;
    margin: 0 auto;
    padding: 15px;
    z-index: 0;
}

header{
    background-color: #3D3D3D;
    color: white;
    text-align: center;
    padding: 30px;
}