body{
    width: auto;
    height: 2400px;
}

.banner{
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav{
    height: 60px;
    background-color: #FD4556; 
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.nav li{
    display: inline-block;
    margin: auto;
    margin-inline: 10px;
    margin-top: 20px;
}

.nav li a{
    color: white;
    text-decoration-line: none;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}

.banner{
    height: 1 230px;
}

footer{
    background-color: #3D3D3D;
    color: white;
    height: 120px;
}
.footer{
    list-style-type:none;
    display: grid;
    grid-template-columns: auto  ;
}
.banner img{
    width: 100%;
}
section{
    background-color: #53212B;
}
section ul{
    list-style-type: none;
}
._card{
    display: grid;
    grid-template-columns: auto auto ;
    gap: 10px;
    padding: 10px;
}
section ul li h4{
    color: white;
}
.kép{
    width: 250px;}
