body{
    width: 900px;
    margin: auto 0;
}

#container{
   align-items: center;
}

.nav{
    background-color: red; 
    list-style-type: none;

    margin: 0;
    padding: 0;
}

.nav li{
    display: inline-block;
}

.nav li a{
    color: white;
    text-decoration-line: none;
}